<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>EcoDesign | {{ pageTitle }}</title>

		{{!-- External CSS --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />		{{{ css }}}

		{{!-- Internal CSS --}}
		<link rel="stylesheet" href="../css/main.css">
	</head>

	<body>
		{{!-- Page Header --}}
		{{> header }}

		{{!-- Page Content --}}
		{{{ content }}}

		{{!-- Page Header --}}
		{{> footer }}

		{{!-- External JavaScript --}}
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin="anonymous"></script>

		{{!-- Internal JavaScript --}}
		{{{ scripts }}}
	</body>

</html>
