{{!-- content unique to the home page goes here --}}

<div id="css">
	<link rel="stylesheet" href="../css/index.css">
</div>

<body>
	{{!-- this will be the homepage --}}
</body>

<div id="scripts">
	<script src="../js/index.js"></script>
</div>
