{{!-- content unique to the marketplace goes here --}}

<div id="css">
	<link rel="stylesheet" href="../css/shop.css">
</div>

<body>
	{{!-- this will be the shop --}}
</body>

<div id="scripts">
	<script src="../js/shop.jsx"></script>
</div>
