{{!-- content unique to the marketplace goes here --}}

<div id="css">
	<link rel="stylesheet" href="../css/shop.css">
</div>

<body>
	<!-- Products for sale -->
	<section id="shopping"></section>
</body>

<div id="scripts">
	<script type="text/babel" src="../js/shop.jsx"></script>
</div>
