/* Groundwork */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
}

/* Header */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 3rem;
	padding: 1vmin;
	margin-bottom: 2%;

	background-color: brown;
	box-shadow: 0 5px 3px brown;
	color: honeydew;

	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
	header figure {
		display: flex;
		flex-direction: row;
		height: 100%;
	}
		header figure img {
			height: 100%;
		}
		header figure figcaption {
			align-self: center;
		}
	header nav a {
		color: honeydew;
		text-decoration: none;
		transition: color .2s;
	}
		header nav a:hover {
			color: cadetblue;
		}
			header nav a:not(:last-child)::after {
				content: "|";
				margin-left: .3rem;
			}

/* Footer */
